
  
  /* Optional: Makes the sample page fill the window. */
  
  
  *{
    /* outline: 2px solid red;   */
}

body{
    text-align: center;
    background-color: black;
}
#map{
width: 900px;
 height: 500px; 
/* display: inline-block; */
margin: 0 auto;
text-align: center;
}
h1{
    color: royalblue;
}
.photo{
    height: 100px;
    /* width: 20px; */
}
#x{
    
    display: inline-block;
    vertical-align: top;
}
#y{
    
    display: inline-block;
    vertical-align: top;
    /* width: 70%; */
    padding: 20px;
}