body{
    text-align: center;
}
.wrapper{
    margin: 0 auto;
    padding: 20px;
    
    margin: 2pz solid black;
    width: 60%;
    background-color: yellowgreen;
}
img{
    width: 100px;
    border: 1px solid black;
    margin: 10px;

}
#pacman{
    position: absolute;
    top:50px;
    left: 50px;
    

}